[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
black = "*"
psycopg2-binary = "*"
djoser = "*"
drf-nested-routers = "*"
gunicorn = "*"
redis = "*"
celery = "*"
flower = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.11"
